# Dataset original descargado de una fuente externa
data/raw/superstore.csv

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Archivos temporales de Python
__pycache__/
*.pyc

# Variables de entorno y credenciales
.env

# Configuración local de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db